#main {
  margin-top: 50px;
}
.content-result{
  display: flex;
    flex-direction: column;
}
.header-result{
  background: gainsboro;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.body-result{
  background: beige;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.content-itens{
  flex: 1;
  display: flex;
 
}
.itens{
  /* display: flex;
  align-items: center;
  flex: 1;
  justify-content: center; */
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  min-width: 79px;
}

.btnl{
  margin-top: 57px;
  margin-right: -35%;
  float: right!important;
  color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
   
}

.btnc{
  
  height: 26px;
  width: 15%;
  float: right; 
}
.btnedit a
{
  float: left;
  margin: 0px 30px;
  color: #fff;
  background-color: #337ab7;
    
}
.btndel a
{
  float: right;
  margin: 0px 7px;
  color: #fff;
  background-color: #fc0404e8;
}